/*
 * INFO:
 * This file is specially created for App.jsx
 * This file will help to create a separated
 * design from light theme to dark theme of
 * the device used. For reference, kindly
 * visit: https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme
 * Version: Dark
 */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333333;

    .App {
      color: white;

      > * {
        border: 1px white solid;
      }
      > section {
        > ul {
          > a {
            color: white;
          }
        }
      }
    }
  }
}
