/*
 * INFO:
 * This file was specially created for App.jsx.
 * This will help how to separate light and dark
 * theme of the user's device.
 * Version: Light
 */

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0.5rem;

  .App {
    display: grid;
    grid-template-areas:
      "left right"
      "footer footer";

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 8fr 1fr;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 1rem;
    gap: 1rem;

    > * {
      box-sizing: border-box;
      border-radius: 0.25rem;
      padding: 0 0.5rem;
      box-shadow:
        3px 3px 5px rgba(33, 33, 33, 0.5),
        -3px -3px 5px rgba(33, 33, 33, 0.2);
    }

    > section {
      grid-area: left;

      display: flex;
      flex-direction: column;

      /* width: 100%; */
      height: 100%;
      max-height: 80vh;
      box-sizing: border-box;

      > ul {
        display: flex;
        flex-direction: column;

        > li {
          list-style: none;

          > a {
            text-decoration: none;
            color: black;
            font-size: 1.25em;
          }
        }
      }
    }

    > main {
      grid-area: right;
      /* width: 100%; */
      height: 100%;
      max-height: 80vh;
      box-sizing: border-box;
    }

    > footer {
      grid-area: footer;
      width: 100%;
    }
  }
}
